$background-light-blue: #EBEBFF;
$resize-for-smaller-devices: 590px;

.main { 
    @media screen and (min-width: 800px) {
        margin: 10px auto;
    }
    max-width: 800px;    
}

.academicTitles {
    color: mediumblue;
    font-weight: bolder;
    
    .academicTitle {
        margin-bottom: 5px;
//        padding-left: 26px;
    }
}

.pageHeader {
    margin-bottom: 10px;
    font-size: 300%;    
    @media handheld, (max-width: $resize-for-smaller-devices) {
        font-size: 220%;
    }
    font-weight: 100;
}

.aboutMeBlurb {
    border-bottom: black solid 1px;
    border-top: black solid 1px;
    margin-top: 15px;
    margin-bottom: 15px;
    background: #EBEBFF;
    padding-left: 5px;
    padding-right: 5px;
    @media screen and (min-width: $resize-for-smaller-devices) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.contactMe {
    margin-left: 20px;
    font-size: 90%;
    margin-bottom: 40px;
}

.mainSection { 
    .dateSpan {
        font-size: 120%;
        color: dodgerblue;

        @media handheld, (max-width: $resize-for-smaller-devices) {
            background-color: darkblue;
            padding: 10px;
            margin: 0px;
            color: white;
            border-radius: 2px;
        }
    }

    .sectionTitle {
        font-size: 120%;
        color: darkblue;
        @media handheld, (max-width: $resize-for-smaller-devices) {
            padding-left: 5px;
            padding-right: 5px;            
        }
    }

    .mainSectionItem {
        margin-bottom: 20px;
            
        .sectionDescription {
            padding-left: 5px;
            padding-right: 5px;
            
            @media screen and (min-width: $resize-for-smaller-devices) {
                padding-left: 20px;
                padding-right: 20px;
            }
            margin-top: 7px;
            
            .mainSubSectionItem {      
                .sectionTitle { 
                    font-size: 100%;
                    margin-top: 10px;
                    font-style: italic;
                    
                    @media handheld, (max-width: $resize-for-smaller-devices) {
                        &:before { 
                            content: "> ";
                        }
                    }
                }
            }    
        }
    }
}
                        
.skillsSection { 
    .mainSubSectionItem { 
        overflow: hidden;
        min-height: 50px;
        margin-left: 10px;

        .sectionTitle { 
            font-style: italic;
            font-size: 110%;
        }

        .skillsPanel { 
            margin-top: 0px;
            .skill { 
                
            }
        }

        @media screen and (min-width: $resize-for-smaller-devices) {
            .sectionTitle { 
                min-height: 1px;
                float: left;
                overflow: hidden;
                width: 150px;
            }
            
            .skillsPanel { 
                padding-left: 0px;
                margin-left: 0px;
                padding-top: 0px;
                margin-top: 0px;

                min-height: 50px; 
                float: none;
                overflow: hidden;   
                .skill { 
                    border: 2px solid black;
                    background-color: $background-light-blue;
                    white-space: nowrap;
                    float: left;
                    padding: 8px;
                    border-radius: 6px;
                    margin-left: 5px; 
                    margin-bottom: 2px;
                }
            }
        }
    }    
}

.footer {
    margin-top: 20px;
    font-size: 90%
}

body {
    padding: 30px;
    @media handheld, (max-width: $resize-for-smaller-devices) {
        padding: 8px;
    }
    font-family: 'Open Sans', sans-serif;
}
