$background-light-blue: #EBEBFF;

.main { 
    margin: 10px auto;
    max-width: 800px;
    
    .header { 
        background-color: green;
        color: white;
    }
}

.academicTitles {
    color: mediumblue;
    font-weight: bolder;
    
    .academicTitle {
        margin-bottom: 5px;
        padding-left: 26px;
    }
}

.pageHeader {
    margin-bottom: 10px;
    font-size: 300%;
    font-weight: 100;
}

.aboutMeBlurb {
    border-bottom: black solid 1px;
    border-top: black solid 1px;
    margin-top: 15px;
    margin-bottom: 15px;
    background: #EBEBFF;
    padding-left: 20px;
    padding-right: 20px;
}

.contactMe {
    margin-left: 20px;
    font-size: 90%;
    margin-bottom: 40px;
}

.mainSection { 
    .sectionTitle {
        font-size: 120%;
        color: darkblue;
    }

    .mainSectionItem {
        margin-bottom: 20px;
            
        .sectionDescription {
            padding-left: 20px;
            padding-right: 20px;
            margin-top: 7px;
            
            .mainSubSectionItem {      
                .sectionTitle { 
                    font-size: 100%;
                    margin-top: 10px;
                    font-style: italic;
                }
            }    
        }
    }
}
                        
@media(min-width: 590px) {
    .skillsSection { 
        .mainSubSectionItem { 
            overflow: hidden;
            min-height: 50px;
            margin-left: 10px;

            .sectionTitle { 
                min-height: 1px;
                float: left;
                overflow: hidden;
                width: 150px;
                font-style: italic;
                font-size: 110%;
            }

            .skillsPanel { 
                min-height: 50px; 
                float: none;
                overflow: hidden;   
                .skill { 
                    border: 2px solid black;
                    background-color: $background-light-blue;
                    white-space: nowrap;
                    float: left;
                    padding: 8px;
                    border-radius: 6px;
                    margin-left: 5px; 
                    margin-bottom: 2px;
                }
            }
        }    
    }
}

.dateSpan {
    font-size: 120%;
    color: dodgerblue;
}

.footer {
    margin-top: 20px;
    font-size: 90%
}

body {
    padding: 30px;
    font-family: 'Open Sans', sans-serif;
}
