/* line 3, /Users/max/Workspaces/Html/CVDraft/sass/common.scss */
.a {
  font-size: 200%; }
  /* line 5, /Users/max/Workspaces/Html/CVDraft/sass/common.scss */
  .a .b {
    font-size: 150%; }
    /* line 7, /Users/max/Workspaces/Html/CVDraft/sass/common.scss */
    .a .b .c {
      font-size: 120%; }

/* line 13, /Users/max/Workspaces/Html/CVDraft/sass/common.scss */
.main {
  margin: 10px auto;
  max-width: 800px; }
  /* line 22, /Users/max/Workspaces/Html/CVDraft/sass/common.scss */
  .main .header {
    background-color: green;
    color: white; }

/* line 32, /Users/max/Workspaces/Html/CVDraft/sass/common.scss */
.academicTitles {
  color: mediumblue;
  font-weight: bolder; }

/* line 37, /Users/max/Workspaces/Html/CVDraft/sass/common.scss */
.academicTitle {
  margin-bottom: 5px;
  padding-left: 26px; }

/* line 42, /Users/max/Workspaces/Html/CVDraft/sass/common.scss */
.pageHeader {
  margin-bottom: 10px;
  font-size: 300%;
  font-weight: 100; }

/* line 48, /Users/max/Workspaces/Html/CVDraft/sass/common.scss */
.aboutMeBlurb {
  border-bottom: black solid 1px;
  border-top: black solid 1px;
  margin-top: 15px;
  margin-bottom: 15px;
  background: #EBEBFF;
  padding-left: 20px;
  padding-right: 20px; }

/* line 58, /Users/max/Workspaces/Html/CVDraft/sass/common.scss */
.contactMe {
  margin-left: 20px;
  font-size: 90%;
  margin-bottom: 40px; }

/* line 64, /Users/max/Workspaces/Html/CVDraft/sass/common.scss */
.sectionTitle {
  font-size: 120%;
  color: darkblue; }

/* line 69, /Users/max/Workspaces/Html/CVDraft/sass/common.scss */
.mainSubSectionItem {
  overflow: hidden; }
  /* line 71, /Users/max/Workspaces/Html/CVDraft/sass/common.scss */
  .mainSubSectionItem .sectionTitle {
    font-size: 100%;
    margin-top: 10px;
    font-style: italic; }

/* line 79, /Users/max/Workspaces/Html/CVDraft/sass/common.scss */
.skillsSection .sectionTitle {
  width: 160px;
  display: block;
  float: left;
  overflow: hidden;
  min-height: 1px; }
/* line 88, /Users/max/Workspaces/Html/CVDraft/sass/common.scss */
.skillsSection .skillsPanel {
  display: block;
  float: none;
  min-height: 1px;
  overflow: hidden; }
/* line 95, /Users/max/Workspaces/Html/CVDraft/sass/common.scss */
.skillsSection .mainSectionDescription {
  height: 50px; }

/* line 100, /Users/max/Workspaces/Html/CVDraft/sass/common.scss */
.dateSpan {
  font-size: 120%;
  color: dodgerblue; }

/* line 105, /Users/max/Workspaces/Html/CVDraft/sass/common.scss */
.sectionDescription {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 7px; }

/* line 111, /Users/max/Workspaces/Html/CVDraft/sass/common.scss */
.footer {
  margin-top: 20px;
  font-size: 90%; }

/* line 116, /Users/max/Workspaces/Html/CVDraft/sass/common.scss */
.mainSectionItem {
  margin-bottom: 20px; }

/* line 120, /Users/max/Workspaces/Html/CVDraft/sass/common.scss */
body {
  padding: 30px;
  font-family: 'Open Sans', sans-serif; }

/* line 125, /Users/max/Workspaces/Html/CVDraft/sass/common.scss */
.asInlineBlock {
  display: inline-block;
  width: 160px; }

/* line 130, /Users/max/Workspaces/Html/CVDraft/sass/common.scss */
.skill {
  display: inline-block;
  border: 2px solid black;
  background-color: #EBEBFF;
  padding: 8px;
  border-radius: 6px;
  white-space: nowrap; }

/*# sourceMappingURL=common.css.map */